html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: rgb(229, 229, 229);
  font-family: Roboto, sans-serif;

}

body > div, body > div > div {
  min-height: 100vh;
  position: relative;
}

* {
  box-sizing: border-box;
}

.carousel-indicators {
  bottom: -20px;
}

img {
  width: 100%;
  height: auto;
}

.kg-card.kg-image-card {
  display: flex;
  justify-content: center;
}

.kg-card.kg-image-card img.kg-image {
  width: 100%;
  height: auto;
}

@media (min-width: 769px) {
  .kg-card.kg-image-card img.kg-image {
    width: auto;
    height: auto;
    max-width: 768px;
  }
}

i {
  margin: 10px;
}

@supports (-webkit-appearance:none) {
  .kg-card.kg-image-card {
    display: block;
  }
}

#fb-root {
  position: absolute;
}

.fb-page {
  margin-bottom: 35px;
}
